/* BASIC STYLES HERE */
body {
  background-image: url(https://images.unsplash.com/photo-1618005182384-a83a8bd57fbe?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1964&q=80);
  background-position: top;
  /* object-fit: cover; */
}

output {
  font-size: 1.5rem;
  width: 3rem;
  text-align: center;
}

/* span {
  margin: 0;
  padding: 0;
} */

.blueBG {
  background-color: #123456b0;
}

.title {
  color: whitesmoke;
  text-shadow: 0 0 5px black;
}

.question {
  background-color: #12345678;
  /* border: 3px solid whitesmoke; */
  border-radius: 1rem;
  padding: 1rem 3rem;
  color: whitesmoke;
}

.answer {
  background-color: #12345678;
  /* border: 3px solid whitesmoke; */
  border-radius: 1rem;
  padding: 2rem 2rem;
  line-height: 0;
  width: 100%;
  color: whitesmoke;
}

.opt {
  color: orange;
}